// Global variables
@import 'components/gvariables';
// Default styles
@import 'components/defaults';
// Navbar
@import 'components/navbar';
// Algorithm canvas
@import 'components/algocanvas';
// Extensions
@import 'components/extensions';
/*********************************/
#hero {
  height: 100vh;
}

#name {
  @extend %title;
  font-size: 20vw;

  margin-left: 1.5rem;

  span {
    position: relative;
    top: -5vh;

    font-family: 'Satisfy', sans-serif;
    font-size: 8vw;
  }
}

#about-me {
  padding: $section_pad 0;
}

#about-me-container {
  width: 100%;
}
#about-me-desc {
  position: relative;
  left: 10%;

  width: 80%;
  // height: 30rem;
  // height: 7rem;

  background: white;

  padding: 2.5rem 1rem;
  border: solid $border_width black;
  border-radius: 20px;
}

#about-me-img {
  @extend %img-dim-pos;

  top: calc(-#{$img_width} / 2);
  left: calc(50% - #{#{$img_width} / 2});

  background: white url('../assets/images/smiley_face.png');
  background-size: $img_width * 1.15;
  background-position-y: -$img_width / 14;
}
#about-me-title {
  @extend %title;
  font-size: 2rem;
  justify-content: space-between;
  align-content: space-between;
}
#about-me-body {
  display: flex;
  flex-direction: column;

  font-size: 1.1rem;

  & * {
    margin: 0.2rem 0;
    align-self: flex-end;
    right: 0;

    width: 90%;
  }
}
#projects {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: $section_pad 0 0 0;

  width: 100%;
}
#projects-title,
.project-title {
  @extend %title;
}

#projects-title {
  align-self: flex-end;

  padding-right: 30%;
  padding-bottom: 1.2rem;
  margin-bottom: 2.5rem;

  border-bottom: solid $border_width black;
}

.project {
  position: relative;
  align-self: flex-start;
  margin-left: $img_width / 2;

  padding: 0 0 $img_width $img_width;

  width: 80%;
  // height: 20rem;

  border-left: solid $border_width black;
}

.project-img {
  @extend %img-dim-pos;

  top: -$img_width / 4;
  left: -$img_width / 2;
  background: white;

  border: solid $border_width black;
}

.project-skills {
  padding: 0.5rem 0;
}

#bash-clone-img {
  font-size: 3rem;
  font-weight: 700;
  color: greenyellow;
  background: black;

  padding-left: 0.5rem;
}
#octopush-img {
  background: #e202e6 url('../assets/images/octopush.png') no-repeat;
  background-size: $img_width / 1.3;
  background-position-x: $img_width / 32;
  background-position-y: $img_width / 16;
}

#weather-app-img {
  @extend %title;
  background: #05e4fd url('../assets/images/cloud.png') no-repeat;
  background-size: $img_width / 1.5;
  background-position-x: $img_width / 11;
  background-position-y: $img_width / 6;
}

#tetris-t-img {
  @extend %title;
  background: black url('../assets/images/tetris_t.png') no-repeat;
  background-size: $img_width / 1.8;
  background-position-x: $img_width / 5;
}

.project-desc-list {
  margin-top: 1.5rem;
}

.project-desc-list-item {
  position: relative;
  margin-top: 0.5rem;
  font-size: 1.1rem;
}

.badge {
  font-weight: 600 !important;
  background: rgb(61, 61, 61) !important;
  color: white !important;

  border-radius: 5px !important;
}

.bullet {
  position: absolute;

  top: 7px;
  left: -15px;

  border: solid 2.5px black;
  border-radius: 50%;

  width: 10px;
  height: 10px;
}

#btn-down {
  width: 4.5rem;
  height: 4.5rem;

  &:hover {
    cursor: pointer;
    transform: scale(1.1);
  }
}

footer {
  border-top: solid $border_width black;
  width: 100%;
  height: 5rem;
}

// Media queries
@import 'components/mediaqueries';
