:root * {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  text-decoration: none;
  list-style: none;
  color: black;
}

nav {
  background: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
  height: 4.5rem;
}

#logo {
  color: black;
  font-weight: 600;
  font-size: 3.5rem;
  margin-top: 0.3rem;
  margin-left: 0.5rem;
}

.nav-menu-item {
  font-weight: 600;
}

.nav-menu-item a {
  position: relative;
  font-size: 1.5rem;
  margin-right: 2.5rem;
  color: black;
}

.nav-menu-item a:hover {
  background: none;
}

.nav-menu-item a::before {
  content: '';
  position: absolute;
  padding-right: inherit;
  bottom: 1rem;
  width: 100%;
  height: 0.2rem;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transition: -webkit-transform 0.15s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: -webkit-transform 0.15s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: transform 0.15s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: transform 0.15s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 0.15s cubic-bezier(0.215, 0.61, 0.355, 1);
  background: dodgerblue;
}

.nav-menu-item a:hover::before {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

#btn-nav-menu {
  z-index: 1000;
  position: relative;
  top: 0;
  float: right;
  margin-top: calc(3rem/ 3);
  margin-right: calc(3rem/ 2);
  width: 3rem;
  height: calc((0.4rem + 0.1rem) * 5);
}

#btn-nav-menu * {
  height: 0.4rem;
  width: 3rem;
  border-radius: 5px;
  position: absolute;
  padding-top: 0.1rem;
  background-color: black;
}

#btn-nav-menu:hover {
  cursor: pointer;
}

.menu-open #top-bar {
  top: 0;
  -webkit-transition: top 55ms ease-out, -webkit-transform 250ms ease-out;
  transition: top 55ms ease-out, -webkit-transform 250ms ease-out;
  transition: top 55ms ease-out, transform 250ms ease-out;
  transition: top 55ms ease-out, transform 250ms ease-out, -webkit-transform 250ms ease-out;
}

.menu-open #mid-bar {
  top: calc((calc((0.4rem + 0.1rem) * 5) - 0.4rem - 0.1rem) / 2);
  -webkit-transition: opacity 130ms linear;
  transition: opacity 130ms linear;
}

.menu-open #low-bar {
  bottom: 0;
  -webkit-transition: bottom 55ms ease-out, -webkit-transform 250ms ease-out;
  transition: bottom 55ms ease-out, -webkit-transform 250ms ease-out;
  transition: bottom 55ms ease-out, transform 250ms ease-out;
  transition: bottom 55ms ease-out, transform 250ms ease-out, -webkit-transform 250ms ease-out;
}

.menu-close * {
  background-color: white !important;
}

.menu-close #top-bar {
  top: calc((0.4rem + 0.1rem) * 2);
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.menu-close #mid-bar {
  opacity: 0;
}

.menu-close #low-bar {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: calc((0.4rem + 0.1rem) * 2);
}

#cnv-container {
  position: relative;
  width: 100%;
  height: 100vh;
  text-align: center;
}

#cnv {
  margin-top: 5%;
  margin-bottom: 10%;
  height: auto;
  width: 100%;
}

#about-me-img, .project-img {
  position: absolute;
  width: 6rem;
  height: 6rem;
  border: inherit;
  border-radius: 50%;
}

#name, #about-me-title, #projects-title,
.project-title, #weather-app-img, #tetris-t-img {
  font-family: 'Poppins', sans-serif;
}

/*********************************/
#hero {
  height: 100vh;
}

#name {
  font-size: 20vw;
  margin-left: 1.5rem;
}

#name span {
  position: relative;
  top: -5vh;
  font-family: 'Satisfy', sans-serif;
  font-size: 8vw;
}

#about-me {
  padding: 8rem 0;
}

#about-me-container {
  width: 100%;
}

#about-me-desc {
  position: relative;
  left: 10%;
  width: 80%;
  background: white;
  padding: 2.5rem 1rem;
  border: solid 0.5rem black;
  border-radius: 20px;
}

#about-me-img {
  top: calc(-6rem / 2);
  left: calc(50% - 6rem / 2);
  background: white url("../assets/images/smiley_face.png");
  background-size: 6.9rem;
  background-position-y: -0.42857rem;
}

#about-me-title {
  font-size: 2rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: justify;
      align-content: space-between;
}

#about-me-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 1.1rem;
}

#about-me-body * {
  margin: 0.2rem 0;
  -ms-flex-item-align: end;
      align-self: flex-end;
  right: 0;
  width: 90%;
}

#projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 8rem 0 0 0;
  width: 100%;
}

#projects-title {
  -ms-flex-item-align: end;
      align-self: flex-end;
  padding-right: 30%;
  padding-bottom: 1.2rem;
  margin-bottom: 2.5rem;
  border-bottom: solid 0.5rem black;
}

.project {
  position: relative;
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin-left: 3rem;
  padding: 0 0 6rem 6rem;
  width: 80%;
  border-left: solid 0.5rem black;
}

.project-img {
  top: -1.5rem;
  left: -3rem;
  background: white;
  border: solid 0.5rem black;
}

.project-skills {
  padding: 0.5rem 0;
}

#bash-clone-img {
  font-size: 3rem;
  font-weight: 700;
  color: greenyellow;
  background: black;
  padding-left: 0.5rem;
}

#octopush-img {
  background: #e202e6 url("../assets/images/octopush.png") no-repeat;
  background-size: 4.61538rem;
  background-position-x: 0.1875rem;
  background-position-y: 0.375rem;
}

#weather-app-img {
  background: #05e4fd url("../assets/images/cloud.png") no-repeat;
  background-size: 4rem;
  background-position-x: 0.54545rem;
  background-position-y: 1rem;
}

#tetris-t-img {
  background: black url("../assets/images/tetris_t.png") no-repeat;
  background-size: 3.33333rem;
  background-position-x: 1.2rem;
}

.project-desc-list {
  margin-top: 1.5rem;
}

.project-desc-list-item {
  position: relative;
  margin-top: 0.5rem;
  font-size: 1.1rem;
}

.badge {
  font-weight: 600 !important;
  background: #3d3d3d !important;
  color: white !important;
  border-radius: 5px !important;
}

.bullet {
  position: absolute;
  top: 7px;
  left: -15px;
  border: solid 2.5px black;
  border-radius: 50%;
  width: 10px;
  height: 10px;
}

#btn-down {
  width: 4.5rem;
  height: 4.5rem;
}

#btn-down:hover {
  cursor: pointer;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

footer {
  border-top: solid 0.5rem black;
  width: 100%;
  height: 5rem;
}

@media only screen and (min-width: 500px) {
  #cnv-container {
    width: 100%;
    text-align: center;
  }
  #cnv {
    width: 65%;
  }
}

@media only screen and (min-width: 700px) {
  #cnv {
    margin-top: 0;
    margin-bottom: 2%;
  }
  #name {
    font-size: 10rem;
  }
  #name span {
    font-size: 4rem !important;
    top: -8vh;
  }
  .project {
    width: 50%;
  }
}

@media only screen and (min-width: 800px) {
  #cnv {
    width: 40%;
  }
}

@media only screen and (max-width: 992px) {
  .hide-on-med-and-down {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    right: 0 !important;
    position: absolute;
    width: 0;
    height: 100vh;
    background: black;
    -webkit-transition: width 100ms cubic-bezier(0.01, 0.83, 0.66, 0.72);
    transition: width 100ms cubic-bezier(0.01, 0.83, 0.66, 0.72);
  }
  .hide-on-med-and-down * {
    display: none;
  }
  .slide-in {
    width: 100%;
  }
  .slide-in a {
    margin: 1.5rem;
  }
  .slide-in * {
    display: block;
    color: white !important;
    padding-top: 0 !important;
    font-size: 4rem !important;
    -webkit-transition: font-size 100ms ease-in;
    transition: font-size 100ms ease-in;
    font-weight: 800;
  }
  .slide-in *:hover {
    font-size: 5.5rem !important;
  }
  .slide-in *:before {
    display: none;
  }
}

@media only screen and (min-width: 1000px) {
  #cnv {
    width: 35%;
  }
  #about-me {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-line-pack: justify;
        align-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  #name {
    font-size: 10vw;
  }
  #name span {
    font-size: 3.5vw !important;
  }
  #about-me-container {
    width: 50%;
  }
  #about-me-img {
    left: -3rem;
  }
}
/*# sourceMappingURL=style.css.map */