// Global variables
@import 'components/gvariables';
// Default styles
@import 'components/defaults';
// Navbar
@import 'components/navbar';
// Algorithm canvas
@import 'components/algocanvas';
/*********************************/
#hero {
  height: 100vh;
}

#name {
  font-family: 'Poppins', sans-serif;
  font-size: 20vw;

  margin-left: 1.5rem;

  span {
    position: relative;
    top: -5vh;

    font-family: 'Satisfy', sans-serif;
    font-size: 8vw;
  }
}

#about-me {
  // background: pink;
  // height: 100vh;
  padding: $navbar_height + 1rem 0;
}

#about-me-container {
  width: 100%;
}
#about-me-desc {
  position: relative;
  left: 10%;

  width: 80%;
  // height: 30rem;
  // height: 7rem;

  background: white;

  padding: 2.5rem 1rem;
  border: solid 0.5rem black;
  border-radius: 20px;
}
#about-me-img {
  position: absolute;
  top: calc(-#{$img_width} / 2);

  width: $img_width;
  height: $img_width;

  left: calc(50% - #{#{$img_width} / 2});

  // background: inherit;
  // background: url('../assets/images/face.png');
  background: url('../assets/images/smiley_face.png');
  background-size: $img_width * 1.15;
  // background-position-x: $img_width / 8;
  background-position-y: -$img_width / 14;

  border: inherit;
  border-radius: 50%;
}
#about-me-title {
  font-family: 'Poppins';
  font-size: 2rem;
  justify-content: space-between;
  align-content: space-between;
}
#about-me-body {
  display: flex;
  flex-direction: column;

  & * {
    margin: 0.2rem 0;
    align-self: flex-end;
    right: 0;

    width: 90%;
  }
}

#btn-down {
  width: 4.5rem;
  height: 4.5rem;

  &:hover {
    cursor: pointer;
    transform: scale(1.1);
  }
}

// Media queries
@import 'components/mediaqueries';
